LXStudio/.lxpreferences
﻿LXStudio/out/
Unity/VirtualPrairie/*.csproj
Unity/VirtualPrairie/Library/
Unity/VirtualPrairie/Temp/
LXStudio/out/
Unity/VirtualPrairie/*.sln
Unity/VirtualPrairie/obj
LX/src/.vs/ProjectSettings.json
LX/src/.vs/slnx.sqlite
*.DS_Store
Unity/VirtualPrairie/Logs
Unity/VirtualPrairie/UserSettings
Builds
*.pkf
*.log
Unity/VirtualPrairie/Assets/Plugins/FMOD/Cache/Editor/*
Unity/VirtualPrairie/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
*mono_crash*
Unity/VirtualPrairie/Assets/Audio/FModBanks/Desktop/Master.bank
Unity/VirtualPrairie/Assets/Audio/FModBanks/Desktop/Master.strings.bank
*.bank
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/Assembly-CSharp-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/Assembly-CSharp-Editor-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/FMODUnity-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/FMODUnityEditor-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/FMODUnityResonance-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/FMODUnityResonanceEditor-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/NaughtyAttributes.Core-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/NaughtyAttributes.Editor-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/NaughtyAttributes.Test-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/project-cache/TextToTMP.Editor-Debug.json
Unity/VirtualPrairie/.vs/VirtualPrairie/xs/UserPrefs.xml
Unity/VirtualPrairie/.vsconfig
Unity/VirtualPrairie/CenterClearingLayout.csv
