.App {
  text-align: left;
}

.App-logo {
  align-items: left;
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MasterTable { table-layout:fixed; width: 100%; }
.MasterTable  td, .ButtonTable th { width:20%; vertical-align: top; }
.MasterTable td + td, .ButtonTable th + th { width:80%; vertical-align: top; }

.FeedTable {table-layout:fixed; width: 100%;}
.FeedTable  td, .FeedTable th { width:10%; vertical-align: top; }
.FeedTable td + td, .FeedTable th + th { width:40%; vertical-align: top; }
.FeedTable td + td + td, .FeedTable th + th + th { width:40%; vertical-align: top; }
.FeedTable td + td + td + td, .FeedTable th + th + th + th { width:10%; vertical-align: top; }

.ButtonTable { table-layout:fixed; vertical-align: top;}
.ButtonTable  td, .ButtonTable th { width:15%; }
.ButtonTable td + td, .ButtonTable th + th { width:70%; }
.ButtonTable td + td + td, .ButtonTable th + th + th { width:15%; }

.FormTable { table-layout:fixed; vertical-align: top;}
.FormTable  td, .FormTable th { width:50%; }
.FormTable td + td, .FormTable th + th { width:50%; }
.FormTable select {width: 100px;}

.MqttButton {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 100px;
  width: 200px;
}
.MqttButton:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}  
